body {
	color: #2A5BA1;
	margin: 0px;
	padding: 0px;
	font-family: sans, Helvetica, Arial;
	font-size: 95%;
}

body a {
	color: #2A5BA1;
}

header {
	width: 100%;
	background-color: #2A5BA1;
	display: table;
}

header h1 {
	display: table-cell;
}

header nav {
	display: table-cell;
	text-align: right;
	padding: 0px;
	margin: 0px;
	font-size: 85%;
}

header nav ul {
	margin: 0px;
	padding: 0px;
	display: inline;
}

header nav ul li {
	display: inline;
	padding-left: 1em;
	padding-right: 1em;
	margin-top: 3em;
	
}

footer {
	clear: both;
	color: #909090;
	font-size: 80%;
	padding-bottom: 1em;
}

header, #content, footer {
	padding-left: 1.5em;
	padding-right: 1.5em;
}

header h1 {
	margin: 0px;
	padding: 0.25em;
	text-shadow: #0E3269 2px 2px 2px;
}

header a {
	color: #fff;
	text-decoration: none;
}

#message, #systemMessage {
	background-color: #92C1FF;
	text-align: center;
	color: white;
}

#message p, #systemMessage p {
	margin: 0;
	padding: 0.15em;
}

#content {
	padding-bottom: 2.5em;
}

#items {
	padding-top: 2em;
	padding-bottom: 2em;
}

#items ul.history {
	display: none;
}

#items .item {
	clear: both;
}

#items .item .itemName {
	font-weight: bold;
}

#items .item .itempicture {
	width: 120px;
	padding: 1em;
}

#items .item .iteminfo {
	padding: 0.25em;
	margin-bottom: 1.5em;
}

#items .item .iteminfo, #items .item .itempicture {
	float: left;
}

.histogram {
	margin: 10px;
}

.price {
	margin-left: 5px;
}

.price.overLimit {
	color: red;
}

.price.underLimit {
	color: green;
}

ul.watchedActions {
	float: right;
	padding: 0px;
	margin: 0px;
}

ul.watchedActions li {
	display: inline;
	padding: 5px;
}

img.iconSelector {
	border: 1px solid white;
	padding: 0.25em;
}

img.iconSelector:hover {
	border: 1px solid #2A5BA1;
}

form {
	display: table;
}

form > div > p {
	display: table-row;
}

form > div > p > * {
	display: table-cell;
	margin-bottom: 1em;
}

form > div > p > label {
	width: 150px;
}

/** login site */
ul#loginServices li {
	display: inline;
	padding: 1em;
}