<?xml version="1.0" encoding="UTF-8" ?> <!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="de.nosebrain.amazon.watcher.database.ItemMapper">

	<resultMap type="Item" id="itemResult">
		<result column="asin"		property="asin"			javaType="string" />
		<result column="site"		property="site"			javaType="Amazon" />
		
		<collection property="priceHistories" resultMap="priceHistoryResult" />
	</resultMap>
	
	<resultMap type="PriceHistory" id="priceHistoryResult">
		<result column="price"		property="value"	javaType="float" />
		<result column="hDate"		property="date" 	javaType="date" />
	</resultMap>
	
	<select id="getItemIdByASINandSite" resultType="int">
		SELECT i.id FROM items i WHERE i.asin = #{asin} AND i.site = #{site}
	</select>
	
	<select id="getAllItems" resultMap="itemResult">
		SELECT i.asin, i.site, h.price, h.date AS hDate FROM items i LEFT JOIN history h ON (i.id = h.item_id);
	</select>
	
	<select id="getAllUsersByItem" resultMap="de.nosebrain.amazon.watcher.database.UserMapper.userResult" parameterType="item">
		SELECT <include refid="userAttributes" />
			FROM observations o
			JOIN items i ON (o.item_id = i.id)
			JOIN users u ON (o.user_name = u.name)
		WHERE i.asin = #{asin}
		AND i.site = #{site}
	</select>
	
	<insert id="insertNewItem" parameterType="itemParam" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO items (asin, site) VALUES (#{item.asin}, #{item.site})
	</insert>
	
	<insert id="insertPrice" parameterType="itemParam">
		INSERT INTO history (item_id, price) VALUES (#{id}, #{price})
	</insert>
	
</mapper>